environment/
data/game_data_raw.txt
logs/geckodriver.log
.ipynb_checkpoints
adv_techs_analysis/
plots/
data/two_players_data.csv
data/three_players_data.csv
data/four_players_data.csv
.idea/
*/scripts/
*/logs/
